body {
  font-family: degular, sans-serif;
  color: #444444;
}

a {
  color: #FFA177;
  text-decoration: none;
}

a:hover {
  color: #FFD6E0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: degular, sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #FFA177;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #FFD6E0;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: #FFD6E0;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #624947;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 30px;
  font-weight: 500;
  color: #624947;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #FFAC62;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #FFA177;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #FFA177;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #FFA177;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #FFA177;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 85vh;
  background: #FFD6E0;
}

#hero .container {
  padding-top: 80px;
}

.hero-title {
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  color: black;
}

#hero h2 {
  color: #624947;
  margin-bottom: 20px;
  font-size: 24px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #FFF4F7;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  padding-left: 200px;
  padding-right: 200px;
}

.section-title h2 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: black;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #FFA177;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  font-size: 20px;
  margin-bottom: 0;
  color: #624947;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 40px;
}

.about .about-text {
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  color: #624947;
}

.about .bullet-text {
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
  font-size: 20px;
  color: #7E6361;
}

.about .problem-text {
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
  color: #624947;
}
.about .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 0 50px 50px 100px;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 45px;
  color: black;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content h5 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 25px;
  color: #444444;
  line-height: 30px;
}

.why-us .content .bullet-text {
  font-size: 18px;
  color: #444444;
  padding-left: 30px;
  padding-right: 40px;
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.why-us .visual-design-guide {
  padding-top: 15px;
  padding-left: 15%;
}

.why-us .observations {
  padding: 50px 100px 0 100px;
}

.why-us .observations h3 {
  font-weight: 400;
  font-size: 45px;
  color: black;
}
.why-us .observations p {
  font-size: 25px;
  color: #444444;
  line-height: 30px;
}


@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}

/*--------------------------------------------------------------
# Interview Questions
--------------------------------------------------------------*/
.why-us .faq-list {
  padding: 0 100px;
}

.why-us .faq-list p {
  font-size: 20px;
  color: #737373;
}

.why-us .faq-list ul {
  padding: 0;
  list-style: none;
}

.why-us .faq-list li+li {
  margin-top: 15px;
}

.why-us .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.why-us .faq-list a {
  display: block;
  position: relative;
  font-family: "degular", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.why-us .faq-list .icon-help {
  font-size: 25px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #FFA177;
}

.why-us .faq-list .icon-show,
.why-us .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.why-us .faq-list .icon-show {
  display: none;
}

.why-us .faq-list a.collapsed {
  color: #FFA177;
  transition: 0.3s;
}

.why-us .faq-list a.collapsed:hover {
  color: #2286B4;
}

.why-us .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .why-us .faq-list {
    padding: 0;
  }
}

.why-us .highlight {
  font-size: 40px;
  font-weight: 400;
  background: linear-gradient(
      to bottom,
      transparent 50%,
      #FFC96A 30%
  );
}

/*--------------------------------------------------------------
# HiFi
--------------------------------------------------------------*/
.personas .content {
  padding: 0 50px 50px 100px;
}

.personas .content h3 {
  font-weight: 400;
  font-size: 45px;
  color: black;
}

.personas .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.personas .content p {
  font-size: 25px;
  color: #444444;
  line-height: 30px;
}
.personas .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.personas .observations {
  padding: 50px 100px 0 100px;
}

.personas .observations h3 {
  font-weight: 400;
  font-size: 45px;
  color: black;
}
.personas .observations p {
  font-size: 25px;
  color: #444444;
  line-height: 30px;
}

.personas .highlight {
  font-size: 40px;
  font-weight: 400;
  background: linear-gradient(
      to bottom,
      transparent 50%,
      #FFC96A 30%
  );
}

.personas .hifi-image {
  padding-top: 15px;
  padding-left: 15%;
}

/*--------------------------------------------------------------
# Stortboard
--------------------------------------------------------------*/
.services {
  background-color: #fff;
}

.services .observations {
  padding: 50px 100px 0 100px;
}

.services .observations h3 {
  font-weight: 400;
  font-size: 40px;
  color: black;
}
.services .observations p {
  font-size: 25px;
  color: #444444;
  line-height: 30px;
}

.services .observations .highlight {
  font-size: 40px;
  font-weight: 400;
  background: linear-gradient(
      to bottom,
      transparent 50%,
      #FFC96A 30%
  );
}

.services .observations .arrow {
  font-size: 60px;
  padding-left: 48%;
}

.services .story-image {
  padding: 20px 100px 0 300px;
}

.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon i {
  color: #FFA177;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #FFA177;
}

/*--------------------------------------------------------------
# Key Takeaways
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(#FFC96A, #FFC96A), url("../img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 80px;
}

.cta h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.cta p {
  color: #fff;
  font-size: 20px;
}

.cta .cta-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #FFA177;
  border: 2px solid #FFA177;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Reflection
--------------------------------------------------------------*/

.reflection {
  background-color: #FFF4F7;
}
.reflection .reflection-text {
  padding: 0 300px 100px 300px;
  text-align: center;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f3f5fa;
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: #37517e;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}
